* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.container-fluid img {
  width: 35vw;
}
.container-fluid {
  padding: 0;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
  margin-right: 5vw;
}

.fondo_menu {
  background-color: #252525;
}
#bottone1 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 15px;
  background: #b768ba;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.h1Bienve {
  color: whitesmoke;
  text-transform: uppercase;
  margin-top: 20px;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #a43aa7;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #a43aa7;
}
body {
  background-color: #252525;
}
.buscador {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}
.container-input {
  position: relative;
  background-color: #252525;
}

.container-input .input {
  width: 30vw;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.container-input .input:focus {
  opacity: 1;
  width: 35vw;
}

/*Carousel part*/
-----------------------------------------------------

.Carousel{
  margin-top: 5vh;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}
h4, h2,small,a{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.Carousel h2{
  color: white;
  font-size: 3em;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 10vh;
}

/* images */

.slick-list{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}

.slick{
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.slick h4{
  position: absolute;
  z-index: 1;
  text-shadow: 3px 3px 3px #000;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}
.slick h4 small{
  font-size: 15px;
  display: block;
  text-shadow: 2px 2px 2px #000;
  
}
.slick a img{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  transition: .3s ease-in-out;
}
.slick a img:hover{
  opacity: .85;
}

/*buy ticket button*/
.slick a {
  display: block;
  position: relative;
}

.slick a img {
  display: block;
  width: 100%;
}

.slick a .buy-ticket {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #a43aa7;
  color: #fff;
  text-align: center;
}


/* buttons */

.slick-arrow{
  border-radius: 30px;
  background-color: #252525;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus{
  outline: 0;
}
.slick-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(0,0,0,.7);
}
.slick-prev{
  left: 0px;
}
.slick-next{
  right: 0px;
}
/*End of carousel*/
-----------------------------------------
/*Make your event part*/
.hacerEvento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hacerEvento h2 {
    color: whitesmoke;
    margin: 0 10%;
    font-weight:bolder;
    text-align: center;

}

.hacerEvento img {
    width: 40vw;
    margin-top: 7vh;
    margin-bottom: 5vh;
    margin-left: 32%;
}
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    text-align: center;
    margin: 5% 42%;
    
}

.shadow__btn {
    background: #a43aa7;
    box-shadow: 0 0 25px #a43aa7;
}

.shadow__btn:hover {
    box-shadow: 0 0 5px #a43aa7,
                0 0 25px #a43aa7,
                0 0 50px #a43aa7,
                0 0 100px #a43aa7;
}

.boton {
  color: white;
  border: 1px solid white;
  margin-left: 15px;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 8px;
  transition: 0.2s;
}
.boton:hover {
  border: 1px solid gray;
  color: gray;
}
.logoChico img {
  width: 400px;
}
.logoChico {
  display: flex;
  justify-content: center;
}
.titulo h2 {
  margin-bottom: 5vh;
}
.fondo-login {
  background-color: rgba(0, 0, 0, 0.938);
  min-height: 100vh;
  padding-top: 50px;
}
.login {
  color: white;
  margin: auto;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(51, 47, 47);
}
.icon,
.titulo {
  text-align: center;
  color: white;
}
.titulo {
  margin-bottom: 12px;
}
.icon .dog-icon {
  font-size: 50px;
  margin-bottom: 10px;
  color: white;
}
.box-eye {
  position: relative;
}
.box-eye button {
  border: none;
  position: absolute;
}
.changePassword {
  position: absolute;
  top: 12px;
  left: 270px;
  color: rgb(51, 47, 47);
  cursor: pointer;
}

/*------------------------------------*/
/* Form to make an event */

.contenedorForm {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

.contenedorForm h1 {
  text-align: center;
}

.contenedorForm form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenedorForm label {
  display: block;
  margin-bottom: 10px;
}

.contenedorForm input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  margin-bottom: 20px;
}

.contenedorForm input[type="checkbox"] {
  margin-right: 10px;
}

.contenedorForm input[type="submit"] {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.contenedorForm input[type="submit"]:hover {
  background-color: #a43aa7 ;
}

/* End of form to make an event */
/* -------------------------------------------------------- */
/* Footer */

footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 150px;
}

.footer-links ul,
.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-links li,
.footer-social li {
  margin-right: 20px;
}

.footer-links li:last-child,
.footer-social li:last-child {
  margin-right: 0;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #9b59b6;
}

.footer-social i {
  font-size: 24px;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-social i:hover {
  color: #9b59b6;
}

.footer-social ul li {
  display: inline-block;
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-links,
  .footer-social {
    margin-top: 20px;
  }
}
/* End of footer
---------------------------------------------------------
Window to buy ticket */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #252525;
  color: #333;
}

.contenedor {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  overflow: hidden;
}

/* Estilos de la sección de información del evento */
.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.event-info img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.event-info h1 {
  margin-top: 20px;
  font-size: 2rem;
}

.event-info p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.event-info .fecha {
  font-weight: bold;
}

/* Estilos del formulario de compra */
.ticket-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ticket-form h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.ticket-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ticket-form label {
  font-size: 1.2rem;
}

.ticket-form input[type="number"] {
  width: 60px;
  margin-left: 10px;
  font-size: 1.2rem;
}

.ticket-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-left: 20px;
  cursor: pointer;
}

.ticket-form input[type="submit"]:hover {
  background-color: #3E8E41;
}

.event-info img {
  float: left;
  width: 40%;
  margin-right: 20px;
}

.ticket-form {
  float: right;
  width: 50%;
}
